/** BODY **/

body {
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
}

h1 {
    padding-left: 50px;
    font-size: 65px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    padding-left: 50px;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #c00;
    width: 100%;
    color: white;
}

h3 {
    padding-left: 50px;
    font-size: 40px;
    font-weight: 200;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

h4 {
    padding-left: 50px;
    font-size: 32px;
    font-weight: 200;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    padding-left: 50px;
}

p {
    padding-left: 50px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    padding-left: 100px;
    margin-right: 20px;
    font-size: 18px;
}

.section {
    padding-top: 5px;
}

/** NAV **/

nav.horizontal-page-navigation ul {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0;
}


nav.horizontal-page-navigation {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    position: fixed;
    z-index: 99999;
}

nav.horizontal-page-navigation li {
    display: inline-block;
    margin-right: 20px;
}

nav.horizontal-page-navigation li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align:center;
    color: #c00;
}

nav.horizontal-page-navigation li a:hover {
    color: white;
    text-align:center;
    background-color: #c00;
}

/**  BAR CHART  **/

label {
    font-size: 20px;
    font-family: Calibri;
}

.btn {
    background-color: white;
    color: #CC0000;
    border: 2px solid #CC0000;
}

.btn:hover,
.btn.active:hover {
    background-color: #9b0000;
    color: white;
    border: 2px solid #9b0000;
}

.btn.focus,
.btn.active {
    background-color: #CC0000;
    color: white;
    border: 2px solid #CC0000;
}



.axis {
    font: 10px sans-serif;
    fill: #333;
}

.axis-title {
    fill: #9C8B83;
    font-size: 11px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.axis-label {
    font: 12px sans-serif;
    fill: #333;
}
